.DS_Store
/.build
/dist
/Packages
xcuserdata/
DerivedData/
.swiftpm-cache/
.swiftpm/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
.codex/*
test.txt
/docs/*.md
!/docs/SalaryBar-产品介绍与使用说明.md
.codex
